#imgicon{
	transition: ease all 2s
}
#imgicon:hover{
	transform: rotate(270deg) scale(1.2);
	transition: ease all 2s
}
#btn{
	transition: ease all 1s;
}
#btn:hover{
	box-shadow: 0px 0px 30px black;
	transform: scale(1.2);
	transition: ease all 1s;
}
.box {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #dc3545;
}

.box:hover .overlay {
  opacity: .9;
}

.text {
  color: white;
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#card{
	transition: ease all 1s
}
#cardd:hover{
	transform: scale(1.1);
	transition: ease all 1s
}